* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    /* outline: 2px solid red; */
  }

  html {
    font-family: "Montserrat", sans-serif;
}


body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(10,0,172,1) 0%, rgba(231,55,255,1) 35%, rgba(0,212,255,1) 100%);
    font-weight: 400; 
}

h1 {
    width: 100%;
}
label {
    margin: 10px;
    
}
input {
    position: relative;
    width: 480px;
    margin: 30px auto 20px;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

.submit {
    color: black;
    border: none;
    cursor: pointer;
    left: 12px;
    bottom: 6px;
}


.th1 {
    background-color: rgb(228, 224, 28);
    width: 250px;
    height: 35px;
}

.th2 {
    background-color: lightblue;
    width: 250px;
    height: 35px;
}

.th3 {
    background-color: mediumseagreen;
    width: 250px;
    height: 35px;
}

.projbtn1 {
    background-color: rgb(228, 224, 28);
     width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
}
.projbtn2 {
    background-color: lightblue;
    width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
}
.projbtn3 {
    background-color: red;
    width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
}

table {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 600px;
    overflow: scroll;
   
}

table, th, td {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    width: 270px;
}

thead {
    width: 100%;
    border-radius: 10px;
}

tbody {
    display: block;
    overflow: auto;
    height: 600px;
    width: 100%;
    }
thead tr {
    display: block;
    }
